head{
    font-family: 'Nanum Gothic' !important;
}
body{
    background: #fff;
}
.grand-header {
    position: relative;
    width: 100%;
    z-index: 9000;
    height: 55px;
}

.grand-header .top_wrap {
    height: 32px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
}
.top {
    margin: 0 auto;
    position: relative;
}
.top_left_menu {
    float: left;
}
.top_left_menu li:first-child {
    padding-left: 0;
    padding-top: 6px;
}
.top_left_menu li.cicago_link a {
    display: block;
    padding-left: 0;
    margin-top: 0px;
    text-indent: -999px;
    width: 52px;
    height: 20px;
    background: url(//cfront.isoi.co.kr/renewal_2016/img/common/logo.png) no-repeat 0 -80px;
}
.top_user_menu {
    float: right;
}
.top_user_menu li {
    float: left;
    padding: 9px 8px 0 7px;
    background: url(//cfront.isoi.co.kr/renewal_2016/img/common/bar.png) no-repeat 100% -16px;
}
.top_user_menu li a {
    font-size: 11px;
    /* color: #777; */
}
.mainSection{
    width: 800px;
    margin: 168px auto;
}
.mainSection.short{
    margin: 168px auto 0;
}
.mainSection.detail {
    width: 100% !important;
    margin: auto;
}
.mainSection .sectionBoxs.on {
    display: block !important;
}
.mainSection.main {
    width: 100%;
    margin-top: 90px;
}
a:link {
    outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
button, html [type="button"] {
    -webkit-appearance: none;
  }

  input {

    -webkit-border-radius: 0;
    border: none;
 }
 input:focus,textarea:focus {  }

input[type=submit] {-webkit-appearance:none;}


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

a:active,a:hover{
    text-decoration: none !important;
}
a:focus {
    text-decoration: none;
    color: inherit;
}
input::placeholder{
    color:#a1a1a1;
    font-size: 14px;
}

input::placeholder.darks{
    color:#fff;
    font-size: 14px;
}

/* 타입이 number 일때, 우측 증감 화살표 안보이게하기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol,
ul {
    list-style: none;
}
a:hover,a:active{
    text-decoration: none;
    color:inherit;
}
html{
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none; /*Firefox*/

    -ms-text-size-adjust: none;  /*Ie*/

    -o-text-size-adjust: none; /*old versions of Opera*/
}
/* nanum-gothic-regular - latin_korean */
@font-face {
    font-family:  'Nanum Gothic';
    font: '-apple-system-body';
    font-style: normal;
    font-weight: 400;
    src: url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
        url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/css/nanum-gothic-v17-latin_korean/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

body {
    color: #000;
    font-family: 'Nanum Gothic';
    position: relative;
    font-size:15px;
    margin: auto !important;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
}

.w50{
    width: 45% !important;
    float: left;
}
.w50.button {
    width: 49% !important;
}
.w50.mr2 {
    width: 42% !important;
}
.w50 .mr{
    margin-right:2%;
}
.w50 div,.w50 input{
    width: 100%;
}
.w50 input {
   text-align: left;
   width: 89% !important;
}
.w50 input.pay {
    text-align: right;
}

.w48{
    width: 47% !important;
    float: left;
    margin-bottom: 20px;
}
.w48.mb13.number {
    width: 48% !important;
}
.w48 div,.w48 input{
    width: 100%;
}
.w48.mb13{
    margin-bottom: 13px;
}
.w4{
    width:4% !important;
    float:left;
    line-height: 50px;
}
.mt50{
    margin-top:50px;
}
.mt50.different {
    margin-top: 80px;
}
.mt50.day {
    margin-top: 80px;
}
.ml10{
    margin-right: 5px !important;
}
.w33{
    width: 32.3% !important;
    float: left;
}
.w33 div,.w33 input{
    width: 100%;
}

/* IE9 이하를 위한 css */
.placeholder {
color: #767676;
/* padding-left: 10px; */
}

/* IE10 이상을 위한 css */
textarea::placeholder {
color: #767676;
opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
font-size: 14.4px;
}
textarea::-webkit-input-placeholder {
color: #767676;
}
/* IE */
textarea:-ms-input-placeholder {
color: #767676;
}
/* Firefox */
textarea:-mos-input-placeholder {
color: #767676;
}


a {
    text-decoration: none;
    color: inherit;
}

#timesaleBox.inline{
    display: inline-block;
}
#timesaleBox.inline.day {
    margin: 50px 0px 0px;
}
#timesaleBox .text{
    font-weight: 700;
    font-size:14px;
}
#timesaleBox .text.day {
    font-size: 16px;
}
#timesaleBox{
    margin: 20px 0px;
}
#timesaleBox.mt25 {
    margin: 25px 0px 0px 0px;
}
#timesaleBox.retrieval {
    float: left;
    width: 100%;
}
#timesaleBox.timesale.event {
    padding-top: 30px;
}
#timesaleBox.m0 {
    margin: 0;
}
#tourMainTimeSale, #promotionTimeSale, #seasonTimesale, #themeTimesale, #promotionTimeSale, #searchTimeSale {
    margin-left: 5px;
}
#timesaleBox.ml20{
    margin-left: 20px;
}
#timesale{
    font-weight: 400;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 13px;
    font-family: 'Nanum Gothic';
}

section .sectionBox .title{
    font-weight: 700;
    font-size: 15px;
}

section .sectionBox .title.left{
    text-align: left;
    float: left;
    width: 70%;
    padding-bottom: 20px;
    padding-right: 0px;
    font-size: 21px;
}

section .sectionBox .title.t19{
    font-size: 19px;
    width: 100%;
    margin-bottom: 20px;
}
section .sectionBox .title.t19 span {
    display: block;
    padding-bottom: 10px;
}
section .sectionBox .formBoxs {
    float: left;
    width: 50%;
}
section .sectionBox .whiteBoxs.w33s {
    display: inline-block;
    color: #9b9b9b;
    font-size: 15px;
    font-weight: normal;
}
section .sectionBox .title.gray.left.mt20.start {
    margin-top: 22px;
    padding-bottom: 8px;
    font-size: 14px;
}
section .sectionBox .whiteBoxs.w33s .ml10s.select,
.formBoxs .w33Boxs .whiteBoxs.w33s .ml10s.select {
    color: black;
    font-weight: 600;
}
.formBoxs .w33Boxs .whiteBoxs.w33s .ml10s.directlys {
    position: relative;
}
.formBoxs .w33Boxs .whiteBoxs.w33s .ml10s.directlys:before {
    content: '';
    position: absolute;
    top: 9px;
    right: -17px;
    width: 1px;
    height: 15px;
    background: black;
}

section .sectionBox .whiteBoxs.w33s > input[type=radio] {
    display: none;
}

.formBoxs .w33Boxs .whiteBoxs.w33s .ml10s {
    padding: 7px 0px;
    margin-right: 27px;
    border-radius: 20px;
    color: #9b9b9b;
    cursor: pointer;
    font-weight: 700;
}
.formBox{
    width: 100%;
    margin:0 auto;
    clear: both;
}

.whiteBox input,.whiteBox .inputDiv,.whiteButton{
    border:1px solid #dadada;
    background:#fff;
    color:#000;

}

.whiteButton{
    color: #9b9b9b;
    width: 95%;
    height: 47px;
    line-height: 47px;
    padding: 0px 20px;
    margin-top: 14px;
    font-size: 15px;
    margin-right: 15px;
}

.whiteButton.round.w100 {
    width: 93%;
    border-radius: 0px 7px 7px 0px;
    border-left: none;
    height: 45px;
}
.whiteButton.round .icon i{
    color:#242424;
}

.whiteButton .icon{
    float:right;
    text-align: right;
    font-size:15px;
    width: auto;
}

#imgLineBannerSlide{
    clear: both;
    padding-top:30px;
}
.splide__arrow {
    display: none;
}
.splide__pagination {
    display:none;
}

.whiteButton.black{
    color:black;
    width: 42.6%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/portfolio/homepage-renewal/02/img/icon31.png) no-repeat top 50% right 18px;
    background-size: 13px;
}
.whiteButton.black.selection {
    float: left;
    width: 30% !important;
    margin-right: 0px;
    outline: none;
    border-radius: 7px 0px 0px 7px;
}
.nomBoxList {
    float: left;
    width: 70%;
}

.bestSearchBox {
    position: relative;
    height: 260px;
    margin-top: 90px;
}
.bestSearchBox .title {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}
.bestSearchBox .bestLists {
    float: left;
    width: 50%;
}
.bestSearchBox .bestLists.lefts {
    position: relative;
}
.bestSearchBox .bestLists.lefts:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 200px;
    background: #dddddd;
    top: 17px;
    right: 0;
}
.bestSearchBox .bestLists.rights {
    padding-left: 50px;
    width: 43%;
}
.bestSearchBox .bestLists > a {
    display: block;
    padding: 15px 0px;
}
section .on-scroll-top {
    display: block;
}
section .on-scroll-top {
    position: fixed;
    bottom: 95px;
    left: 45%;
    display: none;
    width: 52px;
    height: 52px;
    margin-left: 610px;
    border: 1px solid #d1d1d1;
    border-radius: 52px;
    background: rgb(255, 255, 255);
    z-index: 999;
}
section .on-scroll-top:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: url(../img/common/ui_icons.png) no-repeat -170px
 -200px;
}

.sectionBox .tabMenu .list{
    float: left;
    position: relative;
    margin-right: 15px;
    padding-left:0px;
    text-decoration: none;
}
.sectionBox .tabMenu .list a,.sectionBox .tabMenu .list span{
    font-weight: 700;
    color:#9b9b9b;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
}
.sectionBox .tabMenu .list .select{
    color:#000;
    font-weight: 700 !important;
}
#eventTabBox,#themeTabBox{
    position: relative;
    margin: 60px 0px 35px;
}
#eventTabBox .sectionBox .tabMenu .list.sline:after{
    display: inline-block;
    content: '';
    background: black;
    top: 0%;
    right: -16px;
    width: 1px;
    height: 15px;
    position: absolute;
    margin-top: 0px;
    pointer-events: none;
}
.sectionBox .tabMenu .list.last{
    float: left;
    margin-left:15px;
}

.product.productListBoxs{
    padding:0px;
}
.plus.productListBoxs .productList .product .productTitle{
    height: 40px;
}
.productListBoxs .productList .product.right{
  float:right;
}

.productListBoxs .productList .product.w50.best.pr6 {
    width: 393px !important;
}
.productListBoxs .productList .product.w50.best.pl6{
    width: 403px !important;
}

.productListBoxs.ps20{
    padding:0 20px;
}
.productListBoxs{
    width:100%;
    margin: 0 auto;
}

.productListBoxs.nonProduct{
    margin:150px 0;
    text-align: center;
}
.productListBoxs.nonProduct div{
    margin:10px 0px;
}
.productListBoxs.rectangle{
    padding:0px 0px !important;
}

.productListBoxs .productList{
    width:23.8%;
    margin-bottom: 20px;
    display: inline-block;
}
.productListBoxs .productList.bestPlanList {
    margin-bottom: 15px;
}

.sectionBox .tabMenu .list.year {
    float: left;
    width: 33.3%;
    margin: 0px;
    text-align: center;
}
.sectionBox .tabMenu .list.year > a {
    font-weight: normal;
    padding: 5px 30px;
}
.productListBoxs .productList.directly {
    width: 100%;
    margin-bottom: 6px;
}
.productListBoxs .productList .product.contents {
    float: left;
    width: 24%;
    height: 114px;
    border: 1px solid #a1a1a1;
    text-align: center;
    padding: 20px 10px;
    margin-right: 10px;
    cursor: pointer;
}
.productListBoxs .productList .product.contents.on {
    color: #fff;
    background: #595959;
}
.productListBoxs .productList .product.contents:last-child {
    margin-right: 0px;
}
.productListBoxs .productList .product.contents .directlyMonth {
    padding: 10px;
    position: relative;
}
.productListBoxs .productList .product.contents .directlyMonth.bold{
    font-weight: bold;
}
.productListBoxs .productList .product.contents .directlyMonth:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #9b9b9b;
    bottom: -6px;
    left: 35%;
}
.productListBoxs .productList .product.contents .directlyMonth.on:before {
    color: #fff;
    background: #595959;
}
.productListBoxs .productList .product.contents .directlyNumber {
    padding: 20px 10px 0px 10px;
    font-size: 13px;
}
.productListBoxs .productList .product.contents.gray {
    color: #9b9b9b;
}

.productListBoxs .productList.search {
    margin-right: 8px;
    margin-bottom: 8px;
}
.productListBoxs .productList.search:nth-child(7) {
    margin-right: 0 !important;
}

.productListBoxs .productList.exhibition {
    margin-right: 1%;
}
.productListBoxs .productList.exhibition:last-child {
    margin-left: 0;
    margin-right: 0;
}

.productListBoxs .productList.w100{
    width: 100%;
}

.productList.best.w100.plan:first-child {
    padding-left: 0;
}

.productListBoxs .productList.w50{
    width: 50% !important;
}
.productListBoxs .productList .product.w100{
    width: 100%;
}
.productListBoxs .productList .product.w100 > a {
    text-decoration: none;
}
.productListBoxs .productList .product.w25{
    width: 190px;
    /* padding-right: 13px; */
    margin-right: 13px;
}
.productListBoxs .productList .product.pl30{
    padding-left: 25px;
}
.productListBoxs .productList .product.w25 .keyword{
    left:50% !important;
    width: 90%;
}
.productListBoxs .productList.best .product .keyword{
    top:42% !important;
}
.productListBoxs .productList .product .bg.pr13{
    /* padding-right: 13px; */
}

.productListBoxs .productList .product.pl6{
    padding-left: 13px;
    width: 203px;
}
.productListBoxs .productList.pr11 .product.pl6:first-child{
    padding-left: 7px;
    width: 195px;
}
.productList.best.w100:first-child {
    padding-left: 0;
}
.productListBoxs .productList .product .bg.pr6{
    /* padding-right: 6px; */
}
.productListBoxs .productList .product .bg.pl6{
    padding-left: 13px;
}
.productListBoxs .productList .product:first-child .bg.pl6 {
    padding-left: 7px;
}
.productListBoxs .productList .product.w25:last-child{
    padding-left: 0px;
    margin-right: 0px;
}
.productListBoxs .productList .product.mt11{
    margin-top: 13px;
}
.p3.productListBoxs .productList{
    width: 100% !important;
}

.p3.productListBoxs .productList .product{
    width: 32%;
    margin-right: 2%;
}
.p3.productListBoxs .productList .product:last-child{
    margin-right: 0%;
}
.productListBoxs .productList.search:last-child{
    margin-right: 0px !important;
}


.productListBoxs .productList.mT50{
    margin-top:50px;
}

.productListBoxs .productList .product .rectangle{
    border-radius: 0px;
}

.productListBoxs .productList .product .bg.rectangle{
    border-radius: 0px;
}


.productListBoxs .productList .product .heart{
    position: absolute;
    top: 9px;
    right: 3px;
    width: 2.4rem;
    z-index: 6;
    cursor: pointer;
}
.productListBoxs .productList .product.w100{
    width: 100%;
}
.productListBoxs .productList .product .price{
    margin-top:10px;
}
.productListBoxs .productList .product .price.mt20{
    margin-top:20px;
}
.productListBoxs .productList .product .price.mt20.cost {
    margin-top: 0px;
}
.productListBoxs .productList .product .price .sellPrice{
    font-weight: 700;
    margin-right:10px;
}
.productListBoxs .productList .product .price .realPrice{
    color:#999999;
    text-decoration: line-through;
    font-size: 12px;
}
.productListBoxs .productList .product .price.mLong{
    margin-top:30px;
}

.productListBoxs .productList .product .productBtn{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size:12.8px;
}
.productListBoxs .productList .product .productBtn span,.productBtn span{
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    font-size: 11px;
    font-weight: 700;
}

.productListBoxs .productList .product .productBtn .productbtn.blue,
.mt30 .sectionBox .productBtn .productbtn.blue{
    color:#486bd3;
}
.productListBoxs .productList .product .productBtn .productbtn.red, .productBtn .productbtn.red{
    color:#cd4144;
}
.productListBoxs .productList .product .productBtn .productbtn.black,
.mt30 .sectionBox .productBtn .productbtn.black {
    color: #868686;
}
.productbtn.round{
    border-radius: 5px;
    font-size: 12.8px;
}

.productBtn.m20{
  margin-top: 20px;
  float: right;
  margin-bottom: 20px;
}
.productListBoxs .productList .product .productDate{
    margin-top:10px;
}
.productListBoxs .productList .product .productDate.mt10{
    margin-top: -5px;
}
.productListBoxs .productList .product .productAirline{
    margin-top:10px;
}

.productListBoxs .productList .product .reserDate{
    margin-top:15px;
    color:#747474;
}
.productListBoxs .productList .product .productDetailInfo .botm-list{
    text-align: left;
    clear: both;
    color: #747474;
}
.productListBoxs .productList .product .ageInfo{
    display: none;
    background: #e9e9e9;
    padding:20px 10px;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-top:10px;
    font-size:15px;
}
.productListBoxs .productList .product .productDetailInfo .date{
    text-align: left;
    clear: both;
    color: #747474;
}
.productListBoxs .productList .product .ageInfo.on{
    display:block;
}

.productListBoxs .productList .product .ageInfo .list{
    width: 31.3%;
    background: #fff;
    text-align:center;
    float: left;
    padding: 20px 10px;
    border-radius: 13px;
    margin-left: 1%;
    margin-right: 1%;
}
.productListBoxs .productList .product .ageInfo .text{
    clear: both;
    text-align: left;
    padding: 20px 10px;
}
.productListBoxs .productList .product .ageInfo .text.nop{
    padding:0px;
}
.productListBoxs .productList .product .ageInfo .list div{
    padding: 5px 0px;
    line-height: 20px;
}

.productListBoxs .productList .product .ageInfo .list .age span{
    font-weight:700;
}
.productListBoxs .productList .product .ageInfo .list .price{
    font-weight: 600;
}

.productListBoxs .productList .product .ageInfo .list .oil.none{
    opacity: 0;
}

.productListBoxs .productList .product .number{
    margin:30px 0px;
    color:#787878;
}
.productListBoxs .productList .product .number.mb0{
    margin:30px 0px 0px;
}
.productListBoxs .productList .product .productTitle{
    padding:17px 0px 0px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.productListBoxs .productList .product .productTitle.title {
    padding: 10px 0px 0px;
}

.productListBoxs .productList .product.w50:first-child{
    width: 50% !important;
}
.productListBoxs .productList .product.w48{
  width: 48% !important;
}
.productListBoxs .productList .product.w50 .productTitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 51px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productListBoxs .productList .product.w50 .productTitle.bestPlan {
    padding-top: 10px;
    height: auto;
}
.productListBoxs .productList .product.w50 .productTitle.h70{
    min-height: 70px;
}
.em.productListBoxs .productList .product.w50:last-child{
    width: 48% !important;
}
.productListBoxs .productList .product.w50:last-child{
    width: 50% !important;
}
.productListBoxs .productList .product .productTitle.pt20{
    padding-top:20px;
}
.productListBoxs .productList .product .productTitle .left{
    text-overflow:ellipsis;
    overflow: hidden;
    word-wrap: break-word;
   max-height:2.5em;
    width: 85%;
    line-height: 20px;
    float:left;
}

.productListBoxs .productList .product .productTitle.bold{
    font-weight:bold;
}

.productListBoxs .productList .product .couponPercent{
    margin-bottom: 30px;
}
.productListBoxs .productList .product .productTitle .title{
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    max-height: 2.9em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.productListBoxs .productList .product .productTitle .category{
    float: right;
}

.productListBoxs .productList .product .productTitle.w100{
    width: 100%;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    max-height: 3rem;
}
.productListBoxs .productList .product .productTitle .left{
    width: 85%;
    float:left;
}
.productListBoxs .productList .product .productTitle .right{
    width: 15%;
    float: right;
    right: 0;
    text-align: right;
    padding-top: 5px;
}
.productListBoxs .productList .product .productTitle .right img{
    width: 23px;
    height:23px;
    border-radius: 0px;
}
.productListBoxs .productList .product .productTitle.bold{
    font-weight:700;
}

.productListBoxs .productList .product .productTitle.mt20{
    margin-top:20px;
    margin-bottom: 20px;
}

.productListBoxs .productList .product{
    width: 50%;
    position: relative;
    border-radius: 10px;
    float: left;
    font-size: 14px;
    line-height: 14px;
}

.productListBoxs .productList .product img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
}
.productListBoxs .productList .product img.products {
    width: 100%;
    border-radius: 10px;
    height: 130px;
}
.productListBoxs .productList .product .back.on {
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69%;
    border-radius: 10px;
}

.topP.productListBoxs .productList .product img{
    height: 126px;
}

.bestP.productListBoxs .productList .product img{
    height: 206px;
}

.productListBoxs .productList .product.pr6{
    /* padding-right: 6px; */
    width: 190px;
}

.nowP.productListBoxs .productList.hLong .product.pr6 img{
    height: 271px !important;
}

.nowP.productListBoxs .productList .product img{
    height: 128px;
}

.nowP.productListBoxs .productList .product img{
    height: 128px;
}

.productListBoxs .productList .product .h256{
    height: 256px !important;
}

.productListBoxs .productList .product .heart img{
    height:35px;
}

.productListBoxs .productList .product .p20{
   padding:0 20px;
}



.productListBoxs .productList .product .keyword{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    width: 100%;
    pointer-events: none;
}
.productListBoxs .productList .product .keywordContent {
    color: black;
    padding: 10px 0px;
}
.productListBoxs .productList .product .keywordContent.on {
    font-weight: 700;
}
.productListBoxs .productList .product .keywordTotal{
    padding-bottom: 10px;
}

.productListBoxs .productList .product .keyword.big{
    text-align: center;

}

.productListBoxs .productList .product .keyword .time{
    margin-bottom: 5px;
    font-weight: 700;
}

.productListBoxs .productList .product .name,
.productListBoxs .productList .product .names{

    position: absolute;
    bottom: 20px;
    left: 24px;
    color: white;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    max-height: 2.em;
    text-align: left;
    word-wrap: break-word;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     max-height: 2.9rem;
     display: inline-block;
     width: 90%;
     white-space: nowrap;
     font-weight: 700;
}
.productListBoxs .productList .product:first-child .names {
    left: 12px;
}
.productListBoxss .productList .product:first-child .name {
    left: 18px;
}
.nowP.productListBoxss .productList .product .name,
.nowP.productListBoxss .productList .product .names {
  font-weight: 400 !important;
    max-height: 2.7em;
    white-space: break-spaces;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 80%;
    /* height: 51px; */
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productListBoxss .productList .product .bg{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.productListBoxss .productList .product .bg img{
    width: 100% ;
    border-radius: 10px;

}

.productListBoxss .productList .product .bg.rectangle img{
    border-radius: 0px;
}

.qaBoxList {
    padding-top: 40px;
}
.productList.search {
    display: inline-flex;
    width: 100%;
}
.product.w100 {
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.product.w100:last-child {
    margin-right: 0px;
}
.qaBoxTop {
    display: none;
}
.qaBoxTop.on {
    display: block;
}
.products {
    border-radius: 10px;
    width: 100%;
    height: 130px;
}
.searchList.lists > a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}
.searchList.lists > a:first-child, .searchList.lists > a:nth-child(7) {
    padding-left: 0px;
}
 
.productList.searchLists .searchList.buttons > a {
    padding: 8px 35px;
    border: 1px solid #595959;
    color: #595959;
    border-radius: 10px;
}
.productList.searchLists .searchList.buttons {
    text-align: right;
    padding: 10px;
}
.productList.searchLists .searchList.lists {
    padding: 20px 0px;
}
.productList.searchLists {
    padding: 0px 0px 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    display: none;
    width: 100%;
}
.productList.searchLists.on {
    display: block;
}
.productListBox .productList .product {
    position: relative;
}
.back.on {
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 10px;
}
