@media (max-width: 768px) {
  body {
    width: 100%;
  }

  /* ######### Header ######### */
  .trigger {
    width: 25px;
    height: 15px;
  }
  .gnb {
    width: 100%;
    left: 60%;
  }
  .gnb li a {
    font-size: 30px;
  }
  /* ######### Section : Welcome ######### */
  .welcome-content {
    top: 60%;
  }
  .welcome-content h1,
  .welcome-content h1 span {
    font-size: 20px;
  }
  .welcome-content b,
  .welcome-content span {
    display: none;
  }

  /* ######### Section : About ######### */
  .about-hello {
    flex-direction: column;
  }
  .about-photo b {
    font-size: 30px;
    top: 30px;
    right: 0;
  }
  .hello-inner {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .hello-text {
    font-size: 25px;
    margin: 10px;
  }
  .hello-content b {
    margin-bottom: 10px;
  }
  .hello-content p {
    font-size: 13px;
    line-height: 2em;
    padding: 15px;
  }
  .hello-tag b {
    font-size: 16px;
    padding: 5px;
  }
  .profile-tab {
    flex-direction: column-reverse;
  }
  .profile-inner {
    position: relative;
    margin: 25px 0;
    padding: 10px;
    height: 300px;
  }
  .profile-list.profile01,
  .profile-list.profile02  {
    padding: 20px;
    margin: 30px 0;
    font-size: 13px;
  }
  .profile-inner {
    width: 100%;
  }
  .profile-list.profile01 {
    padding: 0 15px;
  }
  .list-content:before,
  .list-completion:before {
    left: -24px;
    font-size: 2.5em;
  }
  .list-content {
    padding: 0 20px;
  }
  .list-completion {
    padding: 0 20px;
  }
  .list-completion b {
    font-size: 13px;
  }
  .list-completion p {
    font-size: 10px;
    margin-top: 5px;
  }
  .profile-list.profile02 {
    margin: 0;
  }
  .ready-back {
    display: none;
  }
  .ready-content {
    width: 100%;
    font-size: 13px;
    padding: 30px;
  }
  .what-inner {
    flex-direction: column;
  }
  .what-photo b {
    font-size: 20px;
    top: 20px;
    right: 1px;
  }
  .what-content {
    font-size: 20px;
  }
  .what-content b,
  .what-content span,
  .what-content p {
    margin-bottom: 10px;
  }

  /* ######### Section : Skills ######### */
  .skills {
    margin: 0;
    height: 1520px;
  }
  .skills-inner {
    width: 100%;
    padding: 0;
    right: 0;
  }
  .skills-inner h4 {
    margin: 50px 10px;
    font-size: 30px;
  }
  .skills-content-inner {
    flex-direction: column;
  }
  .skills-content {
    width: 100%;
  }
  .skills-content p {
    font-size: 12px;
  }

  /* ######### Section : Basic ######### */
  .basic-inner {
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }
  .basic-principle span {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .basic-principle em {
    display: block;
    line-height: 20px;
  }
  .basic-principle b {
    top: 8px;
    right: 0;
  }
  .basic-content p {
    padding: 20px 0;
    font-size: 13px;
  }

  /* ######### Section : Mobile ######### */
  .mobile-mockup {
    float: none;
    width: 100%;
    height: 0px;
  }
  .mockup-inner {
    width: 90%;
    height: 200px;
  }
  .mockup-photo img {
    width: 200px;
  }
  .mobile-explanation {
    float: none;
    width: 100%;
  }
  .explanstion-inner {
    width: 100%;
  }
  .explanstion-inner h4 {
    margin-top: 5px;
    margin-bottom: 300px;
  }
  .explanstion-inner p,
  .explanstion-inner ul  {
    font-size: 13px;
  }
  .mobile-btn a {
    margin-bottom: 10px;
  }

  /* ######### Section : Website ######### */
  .website {
    flex-direction: column;
  }
  .website-inner {
    width: 100%;
    padding: 0;
  }
  
  .presentation01,
  .presentation03 {
    display: none;
  }
  .presentation02 {
    margin: 0;
  }
  .presentation02 img {
    padding: 50px;
  }
  .presentation02 ul {
    font-size: 13px;
  }
  .view-btn {
    padding: 10px;
  }
  .website-btn {
    width: 100%;
    padding: 10px;
    bottom: 0;
  }
  .website-btn label {
    margin-right: 40px;
    font-size: 15px;
  }

  .website-tab input[id=website01]:checked ~ .website-btn label[for=website01]:after,
  .website-tab input[id=website02]:checked ~ .website-btn label[for=website02]:after,
  .website-tab input[id=website03]:checked ~ .website-btn label[for=website03]:after,
  .website-tab input[id=website04]:checked ~ .website-btn label[for=website04]:after,
  .website-tab input[id=website05]:checked ~ .website-btn label[for=website05]:after {
    bottom: 7px;
  }

  /* ######### Section : Practical ######### */
  .practical {
    height: auto;
  }
  .practical-btn {
    float: none;
    width: 100%;
    padding: 20px;
  }
  .practical-btn label {
    font-size: 13px;
  }
  .practical-content {
    float: none;
    width: 100%;
  }
  .practical-content h4 {
    font-size: 30px;
    margin: 20px;
  }
  .practical-content-inner {
    width: 100%;
  }
  .practical-content-inner b {
    font-size: 25px;
  }
  .practical-content-inner span {
    width: 100%;
    padding: 0 30px;
    font-size: 13px;
  }
  .practical-list {
    float: none;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }
  .uk-panel {
    padding: 0;
  }
  .uk-panel b {
    font-size: 12px;
  }
  .uk-panel span {
    font-size: 10px;
  }
  .practical-list.practical01,
  .practical-list.practical02,
  .practical-list.practical03,
  .practical-list.practical04,
  .practical-list.practical05 {
    width: 100%;
    padding: 30px 20px;
    margin: 10px 0;
  }
  .uk-panel span:before {
    bottom: -5px;
  }

  /* ######### Footer ######### */
  .footer-inner {
    width: 100%;
    padding: 0;
  }
  .footer-inner img {
    width: 200px;
  }
  .footer-inner p {
    font-size: 16px;
  }
  .footer-inner span {
    width: 170px;
    font-size: 12px !important;
    top: 65%;
    left: 70%;
  }
  .footer-inner span b {
    font-size: 13px;
  }

  /* ######### Sub-Page : Mobile ######### */
  .back {
    float: left;
  }
  .back a {
    padding: 0;
  }
  .mobile-btns a {
    padding: 5px;
    width: 90px;
    font-size: 10px;
    margin: 8px;
  }

  /* Section : Mobile-Welcome */
  .mobile-welcome-inner {
    flex-direction: column;
  }
  .mobile-content {
    margin-top: 0;
    padding: 0 10px;
  }
  .mobile-content span {
    font-size: 15px;
  }
  .mobile-content h1 {
    font-size: 30px;
  }
  .palette-inner {
    flex-direction: column;
  }
  .guide {
    padding: 10px;
  }
  /* Section : Project */
  .project {
    padding: 0;
  }
  .project-inner {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .project-photo img {
    width: 100%;
    display: block;
  }
  .project-intro {
    padding: 10px;
  }
  .project-intro h3 {
    font-size: 20px;
    padding: 20px 0;
  }
  .project-intro p {
    font-size: 13px;
  }
  /* Section : Main-Page */
  .main-page h2 {
    padding: 20px 0;
    font-size: 30px;
  }
  .main-page-inner {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .main-photo {
    margin-right: 0;
    padding: 10px;
  }
  .main-photo img {
    width: 100%;
  }
  .main-explanation-inner h3 {
    padding: 10px;
  }
  .main-explanation {
    flex-direction: column;
    padding: 0 10px;
    margin: 10px 0;
  }
  /* Section : Sub-Page01 */
  .sub-page01 {
    padding: 0;
  }
  .sub-page-inner {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .sub-photo {
    padding-top: 30px;
  }
  .sub-explanation-inner {
    padding: 10px;
  }
  .sub-explanation-inner h3 {
    padding: 10px;
  }
  .sub-explanation {
    flex-direction: column;
    padding: 0;
  }
  /* Section : Sub-Page02 */
  .sub-page02 {
    padding: 0;
  }
  .sub-page-inner02 {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}