@charset "utf-8";

/* font */
@import url("./font.css");

/*screenReader*/
caption,.blind,.hidden,.ir{overflow:hidden;position:absolute;top:auto;left:-9999px;width:1px;height:1px;text-indent:-9999px;}
body {margin: 0; padding: 0;}

.shopping_theme {font-family: 'Poppins'; text-align:left; max-width: 1920px; margin: 0 auto; position: relative;}
.inr{width: 1090px; margin:0 auto; position: relative;}
.pc {display:block;}
.mo {display:none;}
img {width: 100%;display: block;}

/* 메인 */
.main_ba {position: relative;}
.main_logo img {width: auto; position: absolute;}
.main_logo a:first-child img {top: 50px; left: 50px;}
.main_logo a:last-child img {top: 50px; right: 55px;}

/* 면세 */
.taxExemption {background: #8fd896 url('../images/area01_1.png') 50% 0 no-repeat;}
.taxExemption .inr {padding: 80px 0 70px;}
.taxBox {height: 340px; width: 100%; background-color: #fff; overflow: hidden; border-radius: 25px; margin-bottom: 35px;}
.taxBox:last-child {margin-bottom: 0;}
.taxBox > div {display: inline-block;  vertical-align: top;}
.taxImg {width: 49%; border-radius: 25px 0px 0px 25px; overflow: hidden; height: 334px; border: 3px solid #fff; }
.taxBox:nth-child(2) .taxImg {border-radius: 0px 25px 25px 0px; float: right;}
.taxText {padding: 60px 40px;}
.taxBox:first-child .taxText {padding: 70px 40px;}
.taxText p {font-size: 22px; line-height: 26px; margin: 0;}
.taxText strong {display: block; font-size: 34px; margin: 15px 0 45px;}
.taxText a {font-size: 20px; color: #ec80a6; border: 2px solid #ec80a6; text-decoration: none; padding: 15px 65px 15px 15px; border-radius: 10px; box-shadow: 5px 5px 0px; font-weight: 500; position: relative; fonteight: 700;}
.taxText a::after {content:''; background: url('../images/arrow.png'); width: 28px; height: 14px; position: absolute; top: 50%; right: 18px; transform: translateY(-50%);}

/* 쇼핑 */
.shopping {background: #f9b5cc url('../images/area02_1.png') 50% 0 no-repeat;}
.shopping ul {padding: 0; display: flex; margin: 0;}
.shopping li {list-style: none; vertical-align: top; margin-right: 20px;}
.shopping li:last-child {margin-right: 0px;}
.shoppingImg {background-color: #fff; border-radius: 128px 128px 0px 0px; overflow: hidden; border: 3px solid #fff;}
.shoppingImg img {height: 335px; object-fit: cover;}
.shoppingImg a {font-size: 20px; color: #ec80a6; text-decoration: none; padding: 15px 20px; display: block; font-weight: 500; position: relative; font-weight: 700;}
.shoppingImg a::after {content:''; background: url('../images/arrow.png'); width: 28px; height: 14px; position: absolute; top: 50%; right: 23px; transform: translateY(-50%);}
.shopping li p {font-size: 26px; line-height: 30px; margin: 24px 0px 65px; text-align: center;}

/* 아이템 */
.item {background: #fcccdc url('../images/area03_1.png') 50% 0 no-repeat;}
.item .inr {padding-bottom: 70px;}
.item ul {display: flex; padding: 0; margin: 0;}
.item li {list-style: none; background-color: #fff; border-radius: 25px; overflow: hidden; position: relative; }
.item li:first-child {margin-right: 20px;}
.itemImg {height: 340px; overflow: hidden;}
.item li p {font-size: 26px; padding: 30px 40px 45px; margin: 0;}
.item li a {text-decoration: none; color: #000;}
.arrow {position: absolute; bottom: 30px; right: 30px; color: #ec80a6; width: auto;}

/* 더현대 */
.hyundai {background: #eaffe4 url('../images/area04_1.png') 50% 0 no-repeat;}
.hyundai .inr {padding-bottom: 70px;}
.hyundaiBox {background-color: #fff; overflow: hidden; border-radius: 25px; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.158);}
.hyundaiImg {height: 280px; overflow: hidden; position: relative; border: 3px solid #fff; border-radius: 25px 25px 0px 0px;}
.hyundaiImg img {position: absolute; bottom: 0;}
.hyundaiImg div {color: #fff; position: absolute; bottom: 0; font-size: 45px; font-weight: 500; padding: 30px 40px;}
.hyundaiText {padding: 35px 35px 30px 45px; font-weight: 500; position: relative;}
.hyundaiText a {text-decoration: none; color: #000;}
.hyundaiText a::after {content:''; background: url('../images/arrow_black.png'); width: 30px; height: 16px; position: absolute; top: 50%; right: 35px; transform: translateY(-50%);}
.YesevaOne {font-family: 'YesevaOne'; font-size: 58px; margin-right: 20px; font-weight: normal;}
.verdana {font-family: 'Verdana'; font-size: 42px; font-weight: bolder;}

/* 듀티프리페스타 */
.dutyfree {background: #8ad291 url('../images/area06_1.png') 50% 0 no-repeat;}
.dutyfree .inr {padding-bottom: 70px;}
.dutyfree ul {display: flex; padding: 0; margin: 0;}
.dutyfree li {list-style: none;}
.dutyfree li:last-child {margin-left: 20px;}
.dutyfreeImg {position: relative; width: 637px; height: 463px;} 
.dutyfreeImg img {position: absolute; top: 0;left: -43px;}
.dutyfreeText p {font-size: 26px; margin: 80px 0px 15px; line-height: 38px; }
.dutyfreeText strong {font-size: 26px; display: block; text-decoration: underline; padding-bottom: 50px; line-height: 38px;}
.dutyfreeText a {font-size: 20px; text-decoration: none; color: #000; font-weight: 500; border: 2px solid #000; padding: 15px 75px 15px 20px; border-radius: 10px; box-shadow: 5px 5px 0px; background-color: #8ad291; position: relative;}
.dutyfreeText a::after {content:''; background: url('../images/arrow_black.png'); width: 30px; height: 16px; position: absolute; top: 50%; right: 18px; transform: translateY(-50%);}
/* 안내전화 */
.informationCall ul {display: flex; padding: 0; margin: 0;}
.informationCall li {list-style: none;}
.informationCall li:last-child {display: flex; align-items: center;}
.informationCallImg img {width: auto;}
.informationCallText p {font-size: 22px; line-height: 26px; margin: 0;}

@media screen and (max-width:1023px) {
    .pc {display:none;}
    .mo {display:block;}

    .inr{width: auto;}

    /* 면세 */
    .taxExemption .inr {padding: 30px 20px 30px;}
    .taxBox {height: auto; border-radius: 13px; margin-bottom: 15px;}
    .taxImg {width: 98%; height: 170px; border-radius: 13px 13px 0px 0px;}
    .taxText p {font-size: 12px; line-height: 16px;}
    .taxText strong {font-size: 17px; line-height: 20px; margin: 5px 0 20px;}
    .taxText a {font-size: 12px; padding: 5px 40px 5px 10px; border-radius: 5px; box-shadow: 2px 2px 0px;}
    .taxText a::after {width: 14px; height: 7px; background-size: cover; right: 10px;}
    .taxBox:first-child .taxText {padding: 17px 15px 35px;}
    .taxBox .taxText {padding: 17px 15px 35px;}
    .taxBox:nth-child(2) .taxImg {border-radius: 13px 13px 0px 0px;}

    /* 쇼핑 */
    .shopping ul {flex-wrap: wrap; padding: 0px 20px 30px;}
    .shopping li {width: 47%; margin-right: 15px;}
    .shopping li:nth-child(2) {margin-right: 0px;}
    .shoppingImg a {font-size: 12px; padding: 10px 15px;}
    .shoppingImg a::after {width: 14px; height: 7px; background-size: cover; right: 15px;}
    .shopping li p {font-size: 14px; margin: 13px 0px 20px; line-height: 17px;}
    .shopping li:nth-child(3) p, .shopping li:last-child p {margin: 20px 0 0;}
    .shoppingImg img {height: 167px;}

    /* 아이템  */
    .item .inr {padding-bottom: 30px;}
    .item ul {flex-wrap: wrap; padding: 0 20px;}
    .item li {width: 100%; border-radius: 13px;}
    .item li:first-child {margin-right: 0px; margin-bottom: 15px;}
    .arrow {width: 14px; height: 7px; right: 21px;}
    .item li p {font-size: 14px; padding: 15px 15px 23px; line-height: 17px;}
    .itemImg {height: 170px;}

    /* 더현대 */
    .hyundaiBox {margin: 0 20px; border-radius: 13px;}
    .hyundai .inr {padding-bottom: 30px;}
    .hyundaiImg div {padding: 15px 15px 10px; line-height: 21px;}
    .hyundaiText a {font-size: 20px; line-height: 24px;}
    .hyundaiText a::after {width: 15px; height: 8px; background-size: cover; right: 15px;}
    .hyundaiText {padding: 11px 15px 11px 18px;}
    .hyundaiImg {height: 180px; border-radius: 13px 13px 0px 0px;}
    .hyundaiImg img {height: 100%; object-fit: cover;}
    .YesevaOne {display: block; font-size: 29px; margin-bottom: 5px;}
    .verdana {font-size: 21px !important;}

    /* 듀티프리페스타 */
    .dutyfree ul {flex-wrap: wrap; margin: 0 20px;}
    .dutyfree li {width: 100%;}
    .dutyfreeImg {width: auto;}
    .dutyfreeImg img {left: 0;}
    .dutyfreeText p {font-size: 14px; line-height: 17px; text-align: left;}
    .dutyfreeText strong {font-size: 15px; text-align: left;}
    .dutyfreeText a {font-size: 12px; background-color: #fff;}
    .dutyfreeText {text-align: center;}

    /* 안내전화 */
    .informationCall ul {padding: 0 20px;}
    .informationCallText p {font-size: 12px;}

}
