@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yg-jalna}n';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'GmarketSansMedium';
  margin: 0;
  color: #fff;
  width: 100%;
}
a {
  text-decoration: none;
}
.pc {
  display: block;
}
.mo {
  display: none;
}

/* section : seat */
.seat {
  background: url('./img/sub_01_01.png');
  height: 1749px;
  position: relative;
  margin: 0;
  margin-top: -45px;
}
.Inner {
  position: absolute;
  top: 35.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1202px;
}
.Inner > div {
  padding-bottom: 50px;
}
.turkey {
  text-align: center;
}
.turkeyTitle {
  padding-bottom: 15px;
}
.turkeyTitle > img {
  width: 240px;
}
.turkeyTitle > span {
  font-family: 'yg-jalnan';
  font-size: 35px;
  vertical-align: top;
}
.turkey > div:last-child {
  font-size: 18px;
  background-color: #3f0001af;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
}
.turkey > div:last-child > span {
  color: #e2c076;
}

.businessClass {
  margin-bottom: 88px;
}
.businessClassInner { 
  display: inline-flex;
  width: 100%;
  margin-bottom: 50px;
}
.businessInner {
  width: 50%;
}
.businessTitle {
  font-family: 'GmarketSansBold';
  font-size: 30px;
  margin-top: 25px;
  position: relative;
}
.businessTitle > div {
  display: inline-block;
}
.textImg {
  position: absolute;
  z-index: -11;
  left: 29%;
}
.barImg {
  display: block;
  margin-bottom: 20px;
}
.businessInner > p {
  margin: 25px 0px;
  font-size: 18px;
}
.businessInner > span {
  color: #feacad;
  font-size: 14px;
  font-weight: 200;
}
.businessVidoe {
  width: 52.5%;
  position: relative;
}

.businessVidoe > iframe {
  margin-left: 37px;
  margin-top: 38px;
  position: absolute;
  top: 0;
  left: 0;
}
.businessTag {
  display: inline-block !important;
}
.bisomessContent, .economyContent {
  padding: 25px 0px;
}
.bisomessContent > span, .economyContent > span {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 13px 19px;
}
.bisomessContent:first-child > span {
  margin-right: 4px;
}
.bisomessContent:first-child > span:last-child {
  margin: 0;
}
.bisomessContent:nth-child(3) > span {
  margin-right: 7px;
}
.economyContent > span {
  margin-right: 2px;
}

.economyClass {
  position: absolute;
  top: 101.2%;
}
.economyImg {
  margin-left: 9px;
}
.economyImg > img {
  width: 49%;
  height: 327px;
}


/* Section : product */
.product {
  background: url('./img/sub_02_01.png');
  height: 1317px;
  position: relative;
  margin: 0;
  margin-top: -1px;
}
.productInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1202px;
}
.productTitle {
  text-align: center;
  margin-bottom: 60px;
}
.productTitle > img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.productTitle > span {
  background-color: #532c2e;
  font-size: 20px;
  padding: 12px 25px 10px;
  border-radius: 20px;
}

.eventContent {
  display: inline-flex;
  margin-bottom: 50px;
}
.event {
  width: 33%;
  border-radius: 22px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 8px 8px #262c36;
}
.event > div {
  background-color: #fff;
  padding: 10px 10px 20px;
}
.event:last-child {
  margin-right: 0;
}
.event > a {
  color: #232b38;
  text-decoration: none;
}
.p2 {
  background-color: #fff;
  padding: 2px 0px;
}
.event > a > img {
  width: 100%;
}
.event > a > div {
  padding: 10px;
}
.eventTitle {
  font-family: 'GmarketSansBold';
  font-size: 18px;
  color: #232b38;
  text-decoration: none;
  padding-bottom: 10px;
  height: 52px;
}
.eventTagInner {
  padding: 10px 0px;
}
.eventTag {
  padding: 2px 0px;
}
.eventTag > span {
  color: #252525;
  font-size: 15px;
  letter-spacing: -1px;
}
.button {
  background-color: #3e5165;
  color: #fff !important;
  display: block;
  margin: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  body {
    margin: 0;
  }
  .pc {
    display: none;
  }
  .mo {
    display: block;
  }
  /* CSS */
  .container a {
    text-decoration: none;
  }
  .container {
    min-width: 320px;
    font-family: 'GmarketSansMedium';
    margin: 0px;
    color: #fff;
    padding: 0px;
    width: 100%;
    letter-spacing: -1px;
  }

  /* Section : seat */
  .seat {
    background: url('./mobile_img/sub_01_01.png') ;
    position: relative;
    margin: 0;
    margin-top: -55px;
    background-size: cover;
    height: auto;
  }
  .Inner {
    padding: 50px 0px;
    position: unset;
    transform: translate(0, 0);
    width: auto;
  }
  .Inner > div {
    padding-bottom: 0;
  }
  .turkey {
    text-align: center;
    padding: 20px 0px;
  }
  .turkeyTitle {
    margin-bottom: 10px;
  }
  .turkeyTitle > img {
    width: 35vw !important;
  }
  .turkeyTitle > span {
    font-family: 'yg-jalnan';
    font-size: 5vw;
    vertical-align: top;
  }
  .turkey > div:last-child {
    background-color: #3f0001af;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 3vw;
  }
  .turkey > div:last-child > span {
    color: #e2c076;
  }

  .businessClass {
    padding: 0px 0px 20px;
    margin-bottom: 0;
  }
  .businessTitle {
    font-family: 'GmarketSansBold';
    padding: 0 20px 20px;
    position: relative;
    margin-top: 0;
  }
  .businessTitle > div {
    font-size: 5vw;
  }
  .barImg {
    display: block;
    width: 30vw !important;
    margin-bottom: 10px;
  }
  .textImg {
    width: 32vw;
    left: 33%;
  }
  .businessClassInner {
    display: unset;
  }
  .businessInner {
    width: 100%;
  }
  .businessInner > p {
    padding: 20px;
    font-size: 3.4vw;
    margin: 0;
  }
  .businessInner > span {
    font-family: 'GmarketSansLight';
    color: #feacad;
    padding: 0px 20px;
    font-size: 2.8vw;
  }
  .businessVidoe {
    width: 100%;
  }
  .businessVidoe > iframe {
    position: unset;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
  .economy {
    padding: 20px 0 !important;
  }
  .line {
    width: 100%;
    margin-top: 25px;
  }
  .economyClass {
    padding: 0 20px;
    position: unset;

  }
  .economyImg {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .economyImg > img {
    width: calc( ( 100% - 15px ) / 2 );
    box-shadow: 10px 10px #510d0d;
    border-radius: 20px;
    height: auto;
  }

  /* Section : product */
  .product {
    background: url('./mobile_img/sub_02_01.png') ;
    margin: 0;
    background-size: cover;
    height: auto;
  }
  .productInner {
    padding: 50px 0px;
    position: unset;
    transform: translate(0, 0);
    width: auto;
  }
  .productTitle {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0;
  }
  .productTitle > img {
    width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .productTitle > span {
    background-color: #532c2e;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 4vw;
  }
  .eventContent {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  .event {
    background-color: #fff;
    padding-bottom: 5px;
    margin-top: 30px;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .event > a {
    color: #232b38;
  }
  .event > a > img {
    width: 100%;
  }
  .p2 {
    padding: 0;
  }
  .eventTitle {
    font-family: 'GmarketSansBold';
    font-size: 3.5vw;
    height: 10vw;
  }
  .eventTag {
    color: #252525;
  }
  .eventTagInner {
    padding: 0;
  }
  .eventTag > span {
    margin-right: 10px;
    font-size: 3vw;
  }
  .button {
    background-color: #3e5165;
    color: #fff !important;
    display: block;
    margin: 20px 0 0;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 3vw;
  }
}