@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 CSS */
body {
  margin: 0;
}
section {
  margin: 0 !important;
  padding: 0;
}
.container a {
  text-decoration: none;
  color: #000;
}
.container {
  min-width: 320px;
  font-family: 'GmarketSansMedium';
  margin: 0px;
  padding: 0px;
  width: 100%;
  letter-spacing: -1px;
  font-size: 16px;
  height: 100%;
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

/* section : couponMain */
.couponMain > img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Section : package */
.package {
  margin: 0;
  position: relative;
}
.package > img {
  width: 100%;
  height: 100%;
  display: block;
}

.headline {
  padding: 20px 0px;
}
.mainHeadline > img {
  width: 100%;
}
.subHeadline > span {
  display: block;
}
.subHeadline > span > b {
  color: #4e7db8;
}

.coupon {
  padding: 50px 0px;
}
.download {
  position: relative;
}
.downloadContent {
  display: inline-flex;
  position: relative;
}
.downloadContent > div > img {
  width: 100%;
  height: 100%;
}
.shadows {
  z-index: -1;
  position: relative;
}
.shadows > img {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.couponGet > button {
  font-family: 'GmarketSansBold';
  color: #fff;
  display: inline-block;
  height: 100%;
  width: 27vw;
  font-size: 5vw;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}
.couponGet > button::before {
  content: '';
  position: absolute;
  top:  -110px;
  left: -80px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 50%;
}
.couponGet > button::after {
  content: '';
  position: absolute;
  bottom: -109px;
  right: -68px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 50%;
}
.button1 {
  background-color: #33619c;
}
.plane {
  position: absolute;
  top: -8%;
  left: -11%;
  width: 30vw;
}
.plane > img {
  width: 100%;
}
.download > span {
  display: block;
  font-size: 13px;
  text-align: left;
  color: #565656;
}

.items > div {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px #c9e0e99f;
}
.items.shadow > div {
  box-shadow: 10px 10px #dadcd7d0;
}
.items > div:first-child {
  margin-bottom: 30px;
}
.items > div > img {
  width: 100%;
}
.itemsTitle {
  padding: 10px 20px;
  text-align: left;
  color: #777777;
}
.itemsName {
  padding: 0px 20px;
  text-align: left;
  height: 49px;
}
.reservation {
  background-color: #4e7db8;
  display: inline-block;
  color: #fff;
  padding: 7px 50px;
  border-radius: 20px;
  margin: 15px 0;
}

/* Section : free */
.free {
  margin: 0;
  position: relative;
}
.free > img {
  width: 100%;
  height: 100%;
  display: block;
}
.orange {
  color: #ff9000 !important;
}
.orangeBa {
  background-color: #ff9000;
}
.orangeButton {
  background-color: #ff9000;
}

/* Section : Ulleungdo */
.Ulleungdo {
  margin: 0;
  position: relative;
}
.Ulleungdo > img {
  width: 100%;
  height: 100%;
  display: block;
}
.green {
  color: #4eb8ad !important;
}
.greenBa {
  background-color: #349d92;
}
.greenButton {
  background-color: #4eb8ad;
}
.plane.ship {
  top: -17%;
  left: -4%;
  width: 23vw;
}

/* section : guide */
.guide {
  background-color: #464646;
  color: #fff;
  position: relative;
  height: 400px;
}
.guideContent {
  text-align: left;
}
.guideTitle {
  font-family: 'GmarketSansBold';
  font-size: 20px;
  margin-bottom: 10px;
}
.guideContent > span {
  display: block;
  font-size: 16px;
  padding: 5px;
}