@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae-Two';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 CSS */
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}

.container {
  font-family: 'GmarketSansMedium';
  margin: 0px;
  padding: 0px;
  color: #fff;
  width: 100%;
  overflow-x: auto;
  letter-spacing: -1px;
  font-size: 18px;
}

/* Section : guam */
.guamMain {
  position: relative;
  margin: 0;
  font-size: 18px;
}
.guamImg > img {
  width: 100%;
  display: block;
}
.guamTitle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.guamTitle > img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.guamTitle > span {
  background-color: rgba(0, 0, 0, 0.712);
  padding: 7px 40px;
  border-radius: 20px;
}

.mainContent {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #012c55ce;
}
.mainContent-inner {
  width: 1200px;
  margin: auto;
  text-align: center;
}
.travel {
  padding: 30px;
  font-size: 24px;
  position: relative;
}
.travel::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 1px;
  background-color: #fff;
}
.guide {
  display: inline-block;
  width: 33%;
  padding: 20px 0px;
}
.guide > img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.guide > p {
  font-family: 'GmarketSansLight';
  margin: 0;
  margin-top: 5px;
}
.guide > p > a {
  text-decoration: underline;
}

/* Section : lodgment */
.lodgment {
  background: url('./img//sub_01_01.png');
  position: relative;
  height: 937px;
  margin: 0;
}
.lodgment-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1200px;
}

.map {
  float: left;
  width: 47%;
}
.lodgmentTitle > h2 {
  font-family: 'Binggrae-Two';
  margin-left: 20px;
  position: relative;
  letter-spacing: 0px;
  font-size: 30px;
  margin-bottom: 45px;
}
.lodgmentTitle > h2::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -20px;
  width: 5px;
  height: 82%;
  background-color: #fff;
}
.lodgmentTitle > h2 > span {
  display: block;
  color: #c1d9e0;
}
.background {
  position: relative;
}
.background > img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 15px 15px #3f6684d0;
}
.tabmenuIcon {
  position: absolute;
  list-style: none;
  top: 164px;
  left: 327px;
  cursor: pointer;
}
.tabmenuIcon:nth-child(2) {
  top: 151px;
  left: 433px;
}
.tabmenuIcon:nth-child(3) {
  top: 271px;
  left: 467px;
}
.tabmenuIcon:nth-child(4) {
  top: 411px;
  left: 383px;
}
.tabmenuIcon:nth-child(5) {
  top: 582px;
  left: 206px;
}
.tabmenuIcon:nth-child(6) {
  top: 697px;
  left: 20px;
}
.tabmenuIcon > div {
  background: url('./img//icon_05.png') no-repeat center center;
  margin: auto;
  height: 75px;
}
.tabmenuIcon > div.on {
  background: url('./img//icon_04.png') no-repeat center center;
  animation: up-down 0.7s infinite ease-in-out alternate;
}

.abode {
  display: none;
  float: right;
  width: 47%;
}
.abode.on {
  display: block;
}
.hotel-img > img {
  width: 100%;
  display: block;
}
.hotel-guide {
  margin-top: 30px;
}
.hotelTitle {
  float: left;
  width: 63%;
}
.hotelTitle > h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}
.hotelTitle > img {
  display: block;
}
.hotelData > div {
  display: inline-block;
}
.hotelData > div:first-child {
  margin-right: 10px;
}
.hotelData > div > span {
  vertical-align: super;
  font-weight: 700;
}
.hotel-guide {
  font-size: 18px;
}
.hotel-guide > p {
  margin-top: 50px;
  margin-bottom: 60px;
  height: 158px;
}
.hotel-guide > a {
  font-family: 'GmarketSansBold';
  background-color: #fff;
  color: #518098;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px #3a687fd7;
}

/* Section : Night */
.night {
  background: url('./img//sub_02_01.png');
  position: relative;
  height: 937px;
  margin: 0;
}
.lodgment-inner > h3 {
  font-family: 'GmarketSansBold';
  font-size: 30px;
  margin-bottom: 30px;
}
.lodgment-inner > h3 > span {
  font-family: 'GmarketSansMedium';
  display: block;
  color: #dcd0f1;
  font-size: 24px;
}
.nightItems {
  display: inline-flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #57555b;
}
.nightItem {
  margin-right: 24px;
}
.nightItem:last-child {
  margin-right: 0;
}
.nightItem > div {
  font-family: 'GmarketSansBold';
  padding: 0px 10px;
  font-size: 20px;
}
.nightItem > span {
  padding: 0px 10px;
  font-size: 18px;
}
.nightProducts {
  display: inline-flex;
  margin-top: 40px;
}
.nightProduct {
  margin-right: 24px;
}
.nightProduct:last-child {
  margin-right: 0;
}
.nightProduct > div {
  position: relative;
}
.nightProduct > div::before {
  content: '관련 상품';
  position: absolute;
  top: 20px;
  left: 0;
  padding: 7px 20px;
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 0px 50px 50px 0px;
  font-size: 16px;
}
.nightProduct > div > img {
  display: block;
}
.nightProduct > div > div {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid ;
  text-align: center;
  padding: 7px 0px;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.404);
  font-weight: 700;
  font-size: 20px;
}

/* Section : air */
.air {
  background: url('./img//sub_03_01.png');
  position: relative;
  height: 937px;
  margin: 0;
}
.lodgment-inner > h2 {
  font-family: 'yg-jalnan';
  color: #014165;
  font-size: 34px;
  margin: 20px 0;
}
.lodgment-inner > h2 > span {
  font-family: 'GmarketSansLight';
  display: block;
  font-size: 27px;
}
.lodgment-inner > span {
  font-family: 'GmarketSansLight';
  color: #014165;
}

.air-data:nth-child(3) {
  margin: 50px 0px 0px;
}
.aerial {
  background-color: #fff;
  color: #343434;
  display: inline-block;
  width: 48.9%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.aerial.korean {
  margin-right: 20px;
}
.aerial.jeju {
  margin-right: 20px;
}
.aerial-title {
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
}
.aerial-title.korean {
  background-color: #0f2b71;
  color: #fff
}
.aerial-title.airseoul {
  background-color: #08b091;
  color: #fff;
}
.aerial-title.jeju {
  background-color: #e84d0e;
  color: #fff;
}
.aerial-title.tway {
  background-color: #c93030;
  color: #fff;
}
.aerial-title > img {
  margin-right: 55px;
  vertical-align: middle;
}
.aerial-title.airseoul > img {
  margin-right: 59px;
} 
.aerial-title.jeju > img {
  margin-right: 61px;
} 
.aerial-title.tway > img {
  margin-right: 103px;
} 
.start {
  display: inline-block;
  font-size: 15px; 
  vertical-align: text-top;
}

.starting-inner {
  text-align: center;
  font-size: 18px;
}
.starting {
  display: inline-block;
  width: 49%;
  text-align: center;
  position: relative;
  padding: 40px 0px 20px;
}
.starting:last-child:before {
  content: '';
  position: absolute;
  top: 22px;
  left: 0;
  width: 1px;
  height: 76%;
  background-color: #a4a6a6;
}
.number {
  background-color: #ececec;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.startings {
  padding: 5px 10px;
}
.startings > span {
  font-family: 'GmarketSansBold';
  color: #014165;
  margin-right: 15px;
}
.startings.mr17 > span {
  margin-right: 17px;
}
.startings.mr20 > span {
  margin-right: 20px;
}
.ba {
  border-radius: 0px 0px 10px 10px;  
}
.ba.korean {
  background-color: #0f2b71;
  text-align: right;
}
.ba.airseoul {
  background-color: #08b091;
  text-align: right;
}
.ba.jeju {
  background-color: #e84d0e;
  text-align: right;
}
.ba.tway {
  background-color: #c93030;
  text-align: right;
}
.ba > img {
  padding: 7px 20px 0px;
}

@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-20px);
  }
}