@charset "utf-8";

/* Northeast Asia */

@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('	https://vr.visitkorea.or.kr/assets/webfont.uni?fn=NotoSansCJKkr-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('https://vr.visitkorea.or.kr/assets/webfont.uni?fn=NotoSansCJKkr-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('https://vr.visitkorea.or.kr/assets/webfont.uni?fn=NotoSansCJKkr-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}